<div class="my-page-contents">
  <div class="my-page-content">
    <div class="sub-card">
      <% if training.achievement.present? %>
        <div class='myp-sub-card'>
          <%= image_tag training.image, class: "card-image-myp" %>
          <div class='myp-card'>
            目標：
            <%= training.goal %>
          </div>
          <div class='myp-card'> 
            達成したら何する？：
            <%= training.reward %>
          </div>
          <div class="myp-card">
            期間：
            <%= training.date_start.month %>月 <%= training.date_start.day %>日
            〜
            <%= training.achievement.date_end.month %>月 <%= training.achievement.date_end.day%>日
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

