<%= render 'shared/header' %>

<body>
  <div class="top-contents">
    <div class="box-wrapper">
      <div class="box-inner">
        <div class="mini-box">
          <p>概要</p>
          運動不足解消と健康のために筋トレをしよう！という目的でこのアプリをつくりました。
          <br>健康やストレス解消のために、筋トレをしたいけど、長続きしない…という皆様。</br>
          このアプリでは、筋トレの目標を設定して、達成したら各自が設定したごほうびをお楽しみください。
          また、達成したよろこびをみんなにわかちあうこともできます！
          <br>(※設定したごほうびは、各自で調達してください…)</br>
        </div>
      </div>
    </div>
    <div class="title-top">
      <h3>みんなの達成報告はこちら</h3>
    </div>
    <div class="card-wrapper">
      <% @trainings.each do |training| %>
        <div class="card">
          <% if training.achievement.present? %>
              <%= image_tag training.achievement.image.variant(resize: '150x150'), class: :card_image %>
              <div class="card__body">
                <% if training.achievement.report.present? %>   
                  <div class="card-report">コメント：  <%= training.achievement.report%></div>
                <% end %>
                <% if user_signed_in? && current_user.id == training.achievement.user_id %>
                    <p>
                      投稿者：
                      <%= training.user.nickname %>
                    </p>
                    <p class="card-detail">
                      <%= link_to '修正', edit_training_achievement_path(training.id, training.achievement.id), class:"link-top" %>
                      <%= link_to '削除', training_achievement_path(training.id, training.achievement.id), method: :delete, class:"link-top" %>
                    </p>
                <% end %>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</body>

<%= render 'shared/footer' %>