<div class="training-goal-format">
  <h2 class="goal-title">筋トレ目標を設定してください</h2>
    <div class="form">
      <%= form_with model: @training, url: trainings_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="img-upload">
        <div class="goal-title">
          ごほうび画像を設定してください
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <%= f.file_field :image, id:"training-reward"%>
        </div>
      </div>
      <%# 入力フォーム %>
      <div class="new-goals">
        <div class="goal-title">
          筋トレ目標
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :goal, class:"training-goal", id:"training-goal", placeholder:"例）スクワットを1日30回、3セットとストレッチをやる！" %>
        <div class="goal-title">
          ごほうびを記入
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :reward, class:"training-reward", id:"training-reward", placeholder:"例）○○のパフェを食べる！"%>
        <p class="mini-title">筋トレを行う期間を設定してください</p>
        <div class="start-time">
          いつから始めますか？
          <span class="indispensable">必須</span>
        </div>
        <%= f.date_field :date_start, class:"training-start", id:"training-start"%>
        <div class="start-time">
          いつまで行いますか？
          <span class="indispensable">必須</span>
        </div>
        <%= f.date_field :expected_date, class:"training-start", id:"training-start"%>
      </div>
      <%# ここまで入力フォーム %>
      <%# 送信ボタン %>
      <div class="new-goal-btn">
        <%= f.submit "設定する" ,class:"goal-btn" %>
      </div>
      <%# 送信ボタン %>
    </div>
      <%=link_to '戻る', user_path(current_user.id), class:"back-btn" %>
  <% end %>
</div>
  <%= render 'shared/footer' %>