<div class="my-page-header">
  <div class="user-contents">
    <div class="user-nickname">
      <%= "#{current_user.nickname}さんのマイページ"%>
    </div>
    <div class="user-tables">
      <ul>
        <li><%= "#{current_user.nickname}さんの筋トレ目標はこちら"%></li>
        <li>新たに目標を設定する場合はこちらから→<%= link_to 'New', new_training_path, class:"new-link" %></li>
      </ul>
    </div>
    <div class="table-wrap">
      <% @trainings.each do |training| %>
        <% if training.achievement.blank? %>
          <table class="my-page-table"> 
            <tr>
              <div class='myp-img-content'>
                <th class="table_col1">ごほうび写真</th>
                <td class="table_col2"><%= link_to image_tag(training.image, class: "myp-reward-img"), "#" %>
              </div>
            </tr>
            <tr>
              <div class='myp-goal'>
                <th class="table_col1">目標</th>
                <td class="table_col2"><%= training.goal %></td>
              </div>
            </tr>
            <tr>
              <div class='myp-reward'> 
                <th class="table_col1">達成したら何する？</th>
                <td class="table_col2"><%= training.reward %></td>
              </div>
            </tr>
            <tr>
              <div class="myp-start">
                <th class="table_col1">いつから始める？</th>
                <td class="table_col2"><%= training.date_start %></td>
              </div>
            </tr>
            <th class="table_col1">各種機能</th>
            <td class="table_col2">
              <%= link_to '編集', edit_training_path(training.id) %>
              <%= link_to '削除', training_path(training.id), method: :delete %>
              <%= link_to '達成', new_training_achievement_path(training.id) %>
            </td>
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
    <%=link_to 'TOP', root_path, class:"back-btn" %>
  <div class="user-publications">
    <% if @user.trainings.present? %>
      <%= render partial: 'trainings/training', collection: @trainings %>
    <% end %>
  </div>
<%= render 'shared/footer'%>