<div class="my-page-header">
  <div class="user-contents">
    <div class="user-nickname">
      <%= "#{current_user.nickname}さんのマイページ"%>
    </div>
    <div class="user-tables">
      <ul>
        <li><%= "#{current_user.nickname}さんの筋トレ目標はこちら"%></li>
        <li>新たに目標を設定する場合はこちらから→<%= link_to 'New', new_training_path, class:"new-link" %></li>
      </ul>
    </div>
    <div class="card-wrapper">
      <% @trainings.each do |training| %>
        <% if training.achievement.blank? %>
          <div class="my-page-card"> 

              <div class='myp-img-card'>
                <%= link_to image_tag(training.image, class: "myp-reward-img"), "#" %>
              </div>

            <div class="myp-card-body">
              <div class='myp-goal-card'>
                目標：
                <%= training.goal %>
              </div>

              <div class='myp-reward-card'> 
                達成したら何する？：
                <%= training.reward %>
              </div>

              <div class="myp-start">
                <th class="table_col1">いつから始める？</th>
                <td class="table_col2"><%= training.date_start %></td>
              </div>

              <div class="card-info">
                各種機能
                <%= link_to '編集', edit_training_path(training.id) %>
                <%= link_to '削除', training_path(training.id), method: :delete %>
                <%= link_to '達成', new_training_achievement_path(training.id) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
    <%=link_to 'TOP', root_path, class:"back-btn" %>
  <div class="user-publications">
    <% if @user.trainings.present? %>
      <%= render partial: 'trainings/training', collection: @trainings %>
    <% end %>
  </div>
<%= render 'shared/footer'%>