<div class="achievement-format">
  <h2 class="goal-title">お疲れ様です！完了報告をお願いします。</h2>
  <%= form_with model: @achievement, url: training_achievements_path(@training), local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="form">
      <%# 入力フォーム %>
      <div class="new-goals">
        <div class="end-time">
          終了日を選択してください
          <span class="indispensable">必須</span>
        </div>
        <%= f.date_field :date_end, class:"training-start", id:"training-start", placeholder:"開始日選択"%>
        <div class="report-title">
          達成をみんなに知らせる！※任意
        </div>
        <%= f.text_area :report, class:"trainig-goal", id:"training-goal", placeholder:"達成報告" %>
        <div class="img-upload">
          <div class="goal-title">
            画像  ※任意
          </div>
          <div class="click-upload">
            <p>
              クリックしてファイルをアップロード
            </p>
            <%= f.file_field :image, id:"training-reward"%>
          </div>
        </div>
        <%# ここまで入力フォーム %>
        <%# 送信ボタン %>
      <div class="new-goal-btn">
        <%= f.submit "報告する" ,class:"report-btn" %>
        <%=link_to 'TOP', root_path, class:"back-btn" %>
      </div>
      <%# 送信ボタン %>
    </div>
  <% end %>
</div>